<h2 class="form_title">Sign up</h2>
<div class="sign-up-form">
  <p>
    <strong> Welcome to memeable! </strong>, comment, react and share the best memes on the internet. <br>
    Please complete the form bellow to continue:</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username",placeholder:"Your username here..." %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", placeholder:"Your email here..." %>
    </div>
    <div class="field">
      <%= f.label :password%>
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"(6 characters minimum)" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Repeat your password here..." %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class:"sign_up er" %>
    </div>
    <%= link_to  "I have already an account", new_user_session_path, class:"log_in" %>
    <%# <%= render "devise/shared/links" %>
  <% end %>
</div>
<div class="image-registration">
  <img src="/memecollage.png" alt="">
</div>
