<h1><%= @meme.title %></h1>

<img src="<%= @meme.url_source %>">

<strong>Category:</strong> <%= @category %>

<strong>Votes:</strong> <%= @meme.votes_count %>
<% if user_signed_in? %>
  <%= link_to "Vote!", root_url + '/vote/' + @meme.id.to_s %>
<% else %>
  <p>Login to vote!</p>
<% end %>

<h2>Comments</h2>

<%= render 'comments/form', comment: @comment, meme_id: @meme.id %>

<% @comments.each do | comment | %>
  <article>
    <h1><%= comment.user.username %></h1>
    <p><%= comment.body %></p>
  </article>
<% end %>

<%= link_to 'Edit', edit_meme_path(@meme) %> |
<%= link_to 'Back', root_path %>
